YC_OAUTH_TOKEN=AQAAAAAHHawCAAAaaAaAaaaaaaaAaaaaaaAAAAT
DATABASE_ENDPOINT=grpcs://ydb.serverless.yandexcloud.net:2135
DATABASE_NAME=/ru-central1/abcdefghijklmnopqrst/abcdefghijklmnopqrst
SERVICE_ACCOUNT_ID=abcdefghijklmnopqrst 
## Cloud functions
CONNECT_HANDLER_ID=abcdefghijklmnopqrst
MESSAGE_HANDLER_ID=abcdefghijklmnopqrst
DISCONNECT_HANDLER_ID=abcdefghijklmnopqrst